.cards {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  grid-template-rows: 1fr 1fr;
  width: 920px;
  padding: 60px 0 0;
  margin: 0 auto;
  list-style-type: none;
  gap: 60px 100px;
  }


